@model CRUD.Models.ActivoFijo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>ActivoFijo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoActivo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActivo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalculoDepreciacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalculoDepreciacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
